body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Задаем высоту на 100% экрана */
}

/* Центрируем контейнер */
.centered-container {
    display: flex; /* Включаем flexbox */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: top; /* Вертикальное центрирование */
    height: 100%; /* Контейнер занимает всю высоту */
    }

body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333;
}

.links-container a {
    display: block; /* Делаем ссылки блочными элементами */
    margin-bottom: 10px; /* Добавляем отступ между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Цвет ссылок */
}

.links-container a:hover {
    color: #0056b3; /* Цвет ссылок при наведении */
}
