body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.links-container a {
    display: block; /* Делаем ссылки блочными элементами */
    margin-bottom: 10px; /* Добавляем отступ между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Цвет ссылок */
}

.links-container a:hover {
    color: #0056b3; /* Цвет ссылок при наведении */
}
